<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Grid to Grid Drag and Drop Example</title>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/grid.css" />
<script type="text/javascript" src="/public/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/public/javascripts/server.js"></script>
<script type="text/javascript" src="/public/javascripts/grid.js"></script>
</head>
<body>

<h1>Drag and Drop from Grid to Grid Example</h1>
<div id="panel"></div>

<p>
#{form @Application.addStory()}
<input type="text" name="title" id="title" />
<input type="submit" value="新規登録" />
#{/form}
</p>

</body>
</html>
